@page
@model BoatRentingWebApplication.Pages.ChangePasswordPageModel
@section CSS{
    <link rel="stylesheet" href="~/css/profilestyle.css" />
}

<div class="profile_parent">

    <div class="edit_profile_container">
        <a asp-page="/ProfilePage">To Edit Profile</a>
    </div>
    <div class="change_password_container">
        <form method="post">
            <span asp-validation-for="OldPassword" style="color: orangered; font-size: 12px;"></span><input type="password" asp-for="OldPassword" value="" placeholder="Old Password">
            <span asp-validation-for="NewPassword" style="color: orangered; font-size: 12px;"></span><input type="password" asp-for="NewPassword" value="" placeholder="New Password">
            <span asp-validation-for="ConfirmNewPassword" style="color: orangered; font-size: 12px;"></span><input type="password" asp-for="ConfirmNewPassword" value="" placeholder="Repeat Password">
            <input type="submit" value="Change Password">
        </form>
    </div>
</div>