body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/BackgroundWallpaperRiver.png);
    background-position: center;
    background-size: cover;
}
