.login_parent {
    display: grid;
    grid-template-columns: repeat(2, 0.25fr);
    grid-template-rows: 0.5fr;

    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.login_container {
    grid-area: 1 / 1 / 2 / 2;
    border-right: solid 1px ghostwhite;
}

.login_container span{
    font-size: 36px;
    color: ghostwhite;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    display: block;
}

form{
    width: 70%;
    display: block;
    margin: auto;
}

form input{
    display: block;
    font-size: 16px;
}

form input[type=text], input[type=password]{
    background: rgba(248, 248, 255, 0.15);
    width: 90%;
    color: ghostwhite;
    margin: 20px auto;
    border: none;
    border-bottom: 1px solid ghostwhite;
    border-right: 1px solid ghostwhite;
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: 2px 2px ghostwhite;
}

form input[type=text], input[type=password]:focus{
    outline: none;
}

form input[type=submit]{
    margin-left: auto;
    margin-right: 2%;
    padding: 5px 10px;
    border-radius: 5px;
    background: rgba(248, 248, 255);
    cursor: pointer;
    color: darkslategrey;
    font-weight: 600;
}

.signup_container {
    grid-area: 1 / 2 / 2 / 3;
    border-left: solid 1px ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup_container p{
    color: ghostwhite;
    font-size: 20px;
    padding: 15px;
}

.signup_container a{
    text-decoration: none;
    color: ghostwhite;
    padding: 15px 20px;
    max-height: 20px;
    border-radius: 5px;
    background-color: rgba(180, 57, 255, 0.7);
    cursor: pointer;
    border: 1px solid rgba(180, 57, 255, 0.8);
}
